* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 43, 43);
}

.container {
    width: 100%; 
}


/*=============================================
        =            HEADER            =
=============================================*/

header {
    height: 100px;
    width: 100%;
    background-color: black;
}

header img {
    width: 100px;
}

.intro {
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

input {
    width: 300px;
    
}

header img, input {
    margin: 20px;
    padding: 5px;

}

/*=====  End of Header  ======*/


/*=============================================
        =           MAIN            =
=============================================*/


/* Layout Card */

main > div {
    display: inline-flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-left: 5px;
}

.wrapper {
    display: flex;
    padding: 15px;
    color: white;
}

.card {
    height: 24rem;
    width: 150px;
    border: 1px solid white;
}

img {
    height: 100%;
    width: 100%;
}

/* / Layout Card */



/* Hoover on card */
.card > img:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
}
/* / Hoover on card */


/* Dati da Javascript */

.flag {
    width: 20px;
    height: 10px;
}

.fas, .far {
    color: rgba(255, 187, 0, 0.9);
}


/* Dati da Javascript */


/*=====  End of Main  ======*/